@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  text-align: center;
}

.container-fluid {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

h1,
h4,
.description,
.par1,
.main-p {
  text-transform: uppercase;
}

/*Hero section styles*/

.hero {
  color: white;
  height: 100vh;
  width: 100%;
  background: url("../assets/backgrounds/h_img.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.logo {
  margin-top: 12rem;
}

.hero .main {
  padding-bottom: 4rem;
}

.hero h1 {
  line-height: 4rem;
}

/*About Us Styles*/
.about-us {
  padding: 4rem 8rem;
}

/*Services styles*/
.services {
  background: url("../assets/backgrounds/s_image.jpg") no-repeat;
  background-position: top;
  padding: 8rem 12rem;
  color: white;
}
/*What we do section*/
.hidden {
  display: none;
}

/*Portfolio section*/
.portfolio {
  margin: 1rem 10rem;
}

.portfolio img {
  width: 100%;
  margin-bottom: 2rem;
}

/*Contact Section*/
.contact {
  background: url("../assets/backgrounds/c_image.jpg") no-repeat;
  background-position: center;
  background-size: 100%;
  color: white;
  text-align: center;
  margin: 0;
}

.form {
  align-items: center;
  padding: 0 15rem;
}

.form-control,
.textarea {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.btn {
  padding: .5rem 2rem;
}

/*Social Icons section*/
ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

li {
  padding: .5rem;
}

/*Footer Section*/
.footer {
  font-size: 13px;
  line-height: .3rem;
}